:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(-45deg, #ff914d 10%, #ff3131);
  --vp-home-hero-image-background-image: linear-gradient(
    -90deg,
    #ff914d 50%,
    #ff3131 50%
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

.VPHero .main {
  flex-grow: 1.5;
}

.VPHero .VPImage {
  filter: drop-shadow(-2px 4px 6px rgba(0, 0, 0, 0.2));
  /*padding: 18px;*/
}

/* Make hero name larger than hero text */
.VPHero .name {
  font-size: 4rem !important;
  line-height: 1.1 !important;
}

.VPHero .text {
  font-size: 1.5rem !important;
  line-height: 1.3 !important;
}

@media (min-width: 640px) {
  .VPHero .name {
    font-size: 3.5rem !important;
  }
  .VPHero .text {
    font-size: 1.75rem !important;
  }
}

@media (min-width: 960px) {
  .VPHero .name {
    font-size: 3.6rem !important;
  }
  .VPHero .text {
    font-size: 2rem !important;
  }
}
